<template
  id="x-props"
  plugin:compile:template-unsafe
  plugin:compile:instance-module
>
  <script instance type="module">
    if (this.constructor === DynamicElement) {
      throw new Error("x-props can only be used with defined elements");
    }
    this.__proto__.props__convertMap ??= {
      number: parseFloat,
      float: parseFloat,
      integer: parseInt,
    };
    this.__proto__.props__convert ??= function (type, value) {
      return this.props__convertMap[type]
        ? this.props__convertMap[type](value)
        : value;
    };
    this.__proto__.props__observed ??= Object.fromEntries(
      this.constructor.observedAttributes?.reduce(
        (result, value) =>
          result.concat(
            value.split(/,+/).map((pair) => pair.trim().split(/\s+/))
          ),
        []
      ) ?? []
    );

    if (!this.__proto__.props__defined) {
      this.__proto__.props__defined = true;

      Object.entries(this.__proto__.props__observed).forEach(([name, type]) => {
        Object.defineProperty(this.__proto__, name, {
          get() {
            return this.$props[name];
          },
          set(value) {
            if (this.$props[name] !== value) {
              this.dispatchEvent(
                new CustomEvent(`update:${name}`, {
                  detail: {
                    value,
                    old: this.$props[name],
                  },
                })
              );
              this.$props[name] = value;
            }
          },
        });
      });
    }

    this.$props ??= {};
    for (const name in this.props__observed) {
      this.$props[name] = this.props__convert(
        this.props__observed[name],
        this.getAttribute(name)
      );
    }

    this.addEventListener("attributeChanged", ({ detail: { name, value } }) => {
      this.$props[name] = this.props__convert(
        this.props__observed[name],
        this.getAttribute(name)
      );
    });
  </script>
</template>
