<template
  id="x-define"
  plugin:compile:template-unsafe
  plugin:compile:instance-module
>
  <slot></slot>
  <script instance type="module">
    // import DynamicElement from "../../dist/dynamic-element.js";

    const source = this.children[0];

    const name = source.getAttribute("name");

    let context = await DynamicElement.compile(source, {
      compile: [[DynamicElement.pluginMap.compile["plugins-unsafe"]]],
    });

    const result = await DynamicElement.runPlugins("define", {
      name,
      context,
      cls: class extends DynamicElement {
        compile() {
          return context;
        }
      },
      plugins: DynamicElement.combinePlugins(context.plugins ?? {}, {}),
    });
    context = result.context;

    console.log(
      "defining",
      name,
      result
      // Array.from(result.context.methods).map(([fn]) => fn.toString())
    );
    customElements.define(result.name, result.cls);
  </script>
</template>
