<template id="x-events" extend="#x-instance">
  <script type="module">
    console.log("start with events");
    this.createEventListeners = (elements) => {
      const names = new Set();
      new Set(elements).forEach((element) => {
        for (const attr of Array.from(element.attributes)) {
          const name = attr.name.replace("__at__", "@");
          const value = attr.value;

          if (name.startsWith("@") && value) {
            element.addEventListener(name.slice(1), (event) => {
              this.eval(value, { event });
            });
          }
        }
      });
    };

    queueMicrotask(async () => {
      await this.init();
      this.createEventListeners(
        this.shadowRoot.querySelectorAll("*:not(script):not(template)")
      );
    });

    console.log("done with events");
  </script>
</template>
