<template
  id="x-events"
  plugin:compile:template-unsafe
  plugin:compile:instance-module
  plugin:compile:extend-unsafe="query:#x-instance"
>
  <script instance type="module">
    this.createEventListeners = (elements) => {
      const names = new Set();
      new Set(elements).forEach((element) => {
        for (const attr of Array.from(element.attributes)) {
          const name = attr.name.replace("__at__", "@");
          const value = attr.value;

          if (name.startsWith("@") && value) {
            element.addEventListener(name.slice(1), (event) => {
              this.eval(value, { event });
            });
          }
        }
      });
    };

    queueMicrotask(async () => {
      await this.tick();
      this.createEventListeners(
        this.shadowRoot.querySelectorAll("*:not(script):not(template)")
      );
    });
  </script>
</template>
