<template
  id="x-instance"
  plugin:compile:template-unsafe
  plugin:compile:instance
>
  <script instance>
    this.__proto__.eval__methods ??= {};
    this.__proto__.eval__maxCache ??= 10;
    this.__proto__.eval__prepareCode ??= function (code, argNames) {
      const key = code + JSON.stringify(argNames.sort());
      const value = this.eval__methods[key];
      if (value) {
        return value;
      }

      const keys = Object.keys(this.eval__methods);
      while (keys.length > this.eval__maxCache) {
        delete this.eval__methods[keys.shift()];
      }

      this.eval__methods[key] = {
        argNames,
        fn: Function(...argNames, `"use strict";return (${code});`),
      };

      return this.eval__methods[key];
    };
    this.__proto__.eval ??= function (code, args = {}) {
      const { argNames, fn } = this.eval__prepareCode(code, Object.keys(args));

      return fn.apply(
        this,
        argNames.map((key) => args[key])
      );
    };
  </script>
</template>
